.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  border: 2px solid red;
}

/* section 1 header */

.cover_section {
  margin: 0 auto;
  height: 700px;
  background-image: url("../photos/Rectangle\ 30.png");
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
}
/* header */
header {
  padding: 32px 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* border: 2px solid green; */
}

ul {
  display: flex;
  gap: 53px;
}

li a {
  color: white;
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  transition: 1s;
}


a:hover {
  color: rgb(40, 46, 136);
  text-decoration: underline;
}

li {
  transition: 1s;
}

li:hover {
  transform: scale(1.2);
}
.cover_heading {
 margin-top: 327px; 
 text-align: center;
 color: #C0B4B4;
 font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* border: 2px solid red; */
  padding-inline: 125px;
}

/* section2 */
.section2  {
  margin: 0 auto;
  padding: 96px 125px;
  background-color: #2A2626;
  height: 610px;
}

.section2_title {
  color: white;
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  /* border: 2px solid green; */
  margin-bottom: 42px;
  transition: 1s;
  cursor: pointer;
  
}

.section2_title:hover {
  color: rgb(40, 46, 136);
  transform: scale(1.2);
}

.div_cardparent {
  /* border: 2px solid red; */
  display: flex;
  height: 325px;
  justify-content: space-between;
}


.card1 {
  width: 28%;
  /* border: 2px solid green; */
}

.card_photos {
  width: 100%;
  height: 320px;
  transition-duration: .40s;
  cursor: pointer;

}

.card_photos:hover {
  box-shadow: 0px 20px 5px 0px rgba(0, 0, 0, 5)
}

/* article 1 */
.article1 {
  margin: 0 auto;
  padding: 96px 125px;
  height: 610px;
  background-color: #0B0A0A;
}

.article_heading {
  color: white;
font-family: 'Gentium Book Basic';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
text-align: center;
margin-bottom: 42px;
cursor: pointer;
transition-duration: 1s;
}

.article_heading:hover {
  color: rgb(40, 46, 136);
  transform: scale(1.2);
}

.div_article_parent {
  height: 330px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
}

.article_card {
  width: 47%;
  height: 330px;
}

.article_photo {
  width: 100%;
  height: 320px;
}

.article_card1 {
  width: 47%;
  height: 320px;
  padding: 64px 109px 130px 109px;
  background-color: #8E8B8B;
}

.article_card_text {
  font-family: 'Gentium Book Basic';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: justify;
color: white;
transition-duration: 1s;
cursor: pointer;
}

.article_card_text:hover {
  transform: scale(1.3);
}